body {
    margin: 0;
}

/* Bar starts here */
.bar {
    background-color: #6494ed;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: +1;
}

.bar-link {
    display: flex;
    position: relative;
    bottom: 25%;
}

.bar a {
    text-decoration: none;
}

.bar h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    position: relative;
    top: 25%;
    margin-left: 20px;
}

.bar h2:hover {
    color: rgb(192, 192, 192);
}

/* Bar ends here */

/* First header starts here */
.header {
    background-image: url('https://media.istockphoto.com/id/1372155500/photo/the-intertwining-wires-flash-in-different-colors-3d-rendering-illustration.jpg?b=1&s=170667a&w=0&k=20&c=Svov8q5yeusJr9_FnXNIRUADscVtLDpjqq2bP19qqWY=');
    background-size: cover;
    width: auto;
    height: 1010px;
}

.header-body {
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid black;
    width: 1600px;
    height: 850px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    font-family: fantasy;
    font-size: large;
    position: relative;
    top: 70px;
}

.header-body h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-us {
    position: absolute;
    left: 7%;
    display: flex;
    margin: 10px;
    padding: 20px;
}

.quang {
    background-image: url('https://images.unsplash.com/photo-1615056906974-f167481eadd0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fHVuaXZlcnNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    color: white;
    width: 400px;
    height: 250px;
    border: 10px solid black;
}

.satvik {
    background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dW5pdmVyc2V8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    color: white;
    width: 400px;
    height: 250px;
    border: 10px solid black;
    position: relative;
    left: 2%;
}

.mikhail {
    background-image: url('https://images.unsplash.com/photo-1628155524928-35c02b8ac4d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTUyfHx1bml2ZXJzZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    color: white;
    width: 400px;
    height: 250px;
    border: 10px solid black;
    position: relative;
    left: 4%;
}

.header-content {
    background-image: url('https://media.istockphoto.com/id/1392160453/photo/astronaut-cosmonaut-discovery-of-new-worlds-of-galaxies-panorama-fantasy-portal-to-far.jpg?b=1&s=170667a&w=0&k=20&c=jTR8WlC59HLMuQhyeEw_wZCjp_cGqz_mYRRXGFxWNU8=');
    background-size: cover;
    color: white;
    border: 8px solid black;
    padding: 20px;
    width: 1250px;
    height: 250px;
    position: relative;
    top: 40%;
    left: 9%;
}

.header-button {
    background-color: cornflowerblue;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    top: 41%;
}

.header-button:hover {
    background-color: rgb(78, 120, 197);
}

.header-button p {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: 25%;
}

.header-button a {
    text-decoration: none;
}
/* First header ends here */

/* Second header  starts here */
.header-two {
    display: flex;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-two-box-one {
    background-image: url('https://media.istockphoto.com/id/487011324/fi/valokuva/sinitaivas.jpg?s=612x612&w=0&k=20&c=2wXRD8OAyziFkMUFROtTR3dpuuw9nvubfXY6wdwoJLc=');
    background-size: cover;
    width: 50%;
    height: 700px;
    /* height: 1010px; */

}

.header-two-box-one-content {
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    height: 300px;
    margin: 40px;
    border: 5px solid black;
}

.header-two-box-two {
    background-image: url('https://media.istockphoto.com/id/1339076397/photo/blue-background-watercolor.jpg?b=1&s=170667a&w=0&k=20&c=pQ4CvYrtmthi4bWnFMZH2LBgGtjIfF5EXWb8-imc9hE=');
    background-size: cover;
    width: 50%;
    height: 700px;
    /* height: 1010px; */
}

.header-two-box-two-content {
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    height: 300px;
    margin: 40px;
    border: 5px solid black;
}


/* Third header starts here */
.header-three {
    background-image: url('https://media.istockphoto.com/id/1405329949/photo/dramatic-empty-sunset-sky-only-for-background.jpg?b=1&s=170667a&w=0&k=20&c=kdWOaVINnnohTGe6cWbIWgzIwqJNyNrv9gsnQmPMDcs=');
    background-size: cover;
    height: 700px;
    border: 3px solid black;
}

.header-three-top {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
}

.header-three-box-one-content {
    background-color: rgba(255, 255, 255, 0.8);
    height: 360px;
    border: 5px solid black;
    /* width: 200px; */
    margin: 80px;
    padding: 30px;
}

.header-three-box-one-content h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header-three-box-one-content p {
    text-align: left;
    font-family: monospace;
    position: relative;
    top: 20px;
}

.header-three-image-decoration {
    display: flex;
    margin: 10px;
    width: 80%;
    position: relative;
    top: 70px;
}

.header-three-image-one {
    background-image: url();
    background-color: aqua;
    width: 200px;
    height: 200px;
}

.header-three-image-two {
    background-image: url();
    background-color: white;
    width: 200px;
    height: 200px;
    position: relative;
    left: 2%;
}

.header-three-image-three {
    background-image: url();
    background-color: #6494ed;
    width: 200px;
    height: 200px;
    position: relative;
    left: 4%;
}

.header-three-bot {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
}
/* Third header ends here */

/* Bottom bar starts here */
.bottom-bar {
    background-image: url('https://images.unsplash.com/photo-1596180262479-467c9ef61fdc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2lkdGh8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    height: 820px;
}

.bottom-bar-link {
    padding: 50px;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* width: 10.4%; */
}

.bottom-bar-link a {
    color: white;
    text-decoration: none;
}

.bottom-bar-link a:hover {
    color: rgb(171, 233, 197);
    text-decoration: none;
}

.bottom-bar-link h2 {
    text-align: left;
    font-size: 2rem;
}

.bottom-bar-link-two {
    position: relative;
    left: 50px;
}
/* Bottom bar ends here */
